*{
    margin: 0;
    padding: 0;
    
    
}

body{
    background-color: #F2F2F2;
}


/*Header*/
li{
    list-style: none;
}
a{ 
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}
a:hover { 
    color: #0A73E5;
}

header {
    background-color: white ;
     position: relative;
     padding: 0 2rem;
     padding-top: 1rem; /* padding en la parte superior */
     padding-bottom: 1rem; /* padding en la parte inferior */
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    color: #0A73E5;
}
.action_btn:hover {
    color: #054c97;
}

.dropdown_menu {    
    display: none;
    position: absolute;
    border-radius: 15px;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.432);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li { 
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar .links, .navbar .action_btn{
        display: none;
      
    }
    .links {
        font-weight: 600;
    }

    .navbar .toggle_btn {
        display: grid;
        
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/* Main */

.form {
    height: 656px;
    background: url(../assets/images/front-bg-small.f14153.jpg) 0/cover;
    display: grid;
    place-content: center;

}
.form  > div:first-child {
    color: white;
    font-weight: bold;
    font-size: 44px;
    width: 450px;
    margin-bottom: 20px;
}
.searchBar {
   display: grid;
   grid-template-columns: 370px 80px; 
}

.form__input {
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
}
.form__submit {
    background-color: #0A73E5;
    border: none; /* Eliminar borde */
    outline: none; /* Eliminar contorno */
    box-shadow: none; /* Eliminar sombra */
}

@media(max-width: 992px){
    .searchBar {
        grid-template-columns: 220px 80px;
    }
    .form  > div:first-child {
        font-size: 30px;
        width: 300px;
    }
}

/* Info Player */
.infoTable {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    padding: 120px;
}
.iconImg {
    height: 117px;
}
.clubImg {
    height: 23px;
}
.details__name {
    font-size: 40px;
    font-weight: bold;
}
.details__tag {
    text-align: right;
    font-size: 20px;
    color: #3B4151;
    font-weight: 600;
}
.details__club {
    display: flex;
    align-items: center;
    color: #3B4151;
    font-size: 20px;
    font-weight: 600;
    gap: 5px;
}
.details__item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 60px;
}
.filaInfo {
    margin-top: 10px;
    background-color: #F2F2F2;
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

.columnaInfo {
    display: grid;
    grid-template-columns: 10% 70% 20%;
}
.columnaInfo img {
    height: 35px;
}
.columnaInfo div {
    font-size: 18px;
    font-weight: 600;
    align-content:  center;
}
.filaInfo > div:first-child {
    margin-right: 20px;
}
.columnaInfo > div:nth-child(2) {
    text-align: left;
    
}
.columnaInfo > div:nth-child(3) {
    text-align: right;
    
}
@media(max-width: 850px){
    .infoTable {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .filaInfo {
        grid-template-columns: 1fr;
    }
    .filaInfo > div:first-child {
        margin-right: 0;
    }
    .columnaInfo {
        display: grid;
        grid-template-columns: 15% 65% 20%;
    }
    .details__item {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-bottom: 20px;
    }
    .details__item > div:nth-child(2) {
        margin-left: 20px;
        
    }
    .details__name {
        font-size: 35px;
    
    }
}
/* Battle Log */
.battleContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    margin-top: 20px;
}
.gamePlayed {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    
    border: 2px solid black;
    margin-bottom: 8px;
}
.gamePlayed img {
  
    height: 36px;
}
@media(max-width: 850px){
    .battleContainer {
        padding: 10px;
    }
    h3 {
        padding: 10px;
    }
}

/* Personal Brawlers */
.titleBrawlers {
    margin-top: 50px;
}
.details{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.brawlersContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,270px);
    grid-gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}
.brawlContainer{
   border: #000000 2px solid;
}

.brawlContainer img {
    height: 112px;
}
.boxBrawl{
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infoBrawl{
    height: 48px;
    color: white;
    background-color: #000000;
    display: grid;
    grid-template-columns: 35% 19% 23% 23.7%;

}
.infoBrawl div{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.skillsBrawl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
    padding: 7px;
}
.skillsBrawl div img {
    height: 28px;
}
.skillsBrawl div {
    margin-top: 5px;
    display: grid;
    justify-items: center;
}
.nameBrawl {
 font-weight: 600;
}
@media(max-width: 850px){
    .brawlersContainer { 
        justify-content: center;
        
    }
    .titleBrawlers{
        padding-left: 10px;
    }
    
}
/* Footer */

.divSponsorsFooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sponsorsFooter{
    height: 100px;
    width: 100px;
}

.logoFooter {
    height: 80px;
    width: 100px;
    background: url("../assets/images/bs-logo.png") 0/cover;
}


footer {
    height: 150px;
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

footer div { 
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1100px 100px;
    
}

@media(max-width: 1236px){
    footer div { 
        max-width: 1200px;
        display: grid;
        grid-template-columns: 91.66% 8.33%;
        
    }
}

@media(max-width: 850px){
    footer div { 
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr;
    }
    footer{
        height: auto;
    }
    .logoFooter{
        margin-left: 100px;
    }
}
/* Log In and Register */
.form3 {
    min-height: 90vh;
    background: url(../assets/images/front-bg-small.f14153.jpg) 0/cover;
    display: grid;
    place-content: center;

}
.form3 > div:first-child {
    color: white;
    font-weight: bold;
    font-size: 44px;
    width: 450px;
    margin-bottom: 20px;
}
.divLogin{
    text-align: center;
    color: #0A73E5 !important;
    width: 550px ;
    padding: 40px;
    background-color: #F2F2F2;
}
.divLogin > div:first-child{
    margin-bottom: 20px;
}
.input__login{
    border: none;
    width: 435px;
    height: 29px;
    font-size: 16px;
    padding: 10px;
}

.submit__login{
    border: none;
    background-color: #0A73E5;
    color: white;
    width: 455px;
    height: 49px;
    font-size: 16px;
    padding: 10px;
}
.divLogin a{
    font-weight: 100;
    text-decoration: underline;
}
.titleLogout{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.titleLogout button{
    border: none;
    padding: 10px;
    background-color:#0A73E5;
    font-weight: 600;
    color: white;
}
@media(max-width: 850px){
    .divLogin{
        width: auto; 
    }
    .form3 > div:first-child {
        width: auto;
    }
    .input__login {
        width: 300px;
    }
    .submit__login {
        width: 300px;
    }
}
/* TOP */
.form2{
    display: grid;
    place-content: center;
    background: url("../assets/images/front-bg-small.f14153.jpg") no-repeat;
}
.containTop{
    margin-top: 80px;
    min-height: 100vh;
    max-width: 1200px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;   
}
.containPlayers{
    padding: 20px;
}
.containFilters{
    padding: 20px;
}
.containFilters select{
    border-color: #0A73E5;
    color: #0A73E5;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-right: 2px;
    height: 39px;
    margin-top: 10px;
}
.topPlayers{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 6fr 2fr;
    margin-top: 10px;
    background-color: #F2F2F2;
    border: #000000 1px solid;
    padding: 20px;
}
.topPlayers div img {
    width: 36px;
    height: 36px;
}
.imgTrophie{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.topPlayers > div:first-child{
    font-weight: bold;
}
.topPlayersClub{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 6fr 2fr;
    margin-top: 10px;
    background-color: #0A73E5;
    border: #000000 1px solid;
    padding: 20px;
    font-weight: bold;
    color: white;
}
.topPlayersClub div img {
    width: 36px;
    height: 36px;
}
@media(max-width: 850px){
    .containTop{
        grid-template-columns: 1fr;
    }
    .topPlayers{
        padding: 5px;
        grid-template-columns: 1fr 6fr 5fr 2fr;
    }
    .topPlayersClub{
        padding: 5px;
        grid-template-columns: 1fr 6fr 5fr 2fr;
    }
    .containPlayers{
        padding: 0;
    }
}


