*{
    margin: 0;
    padding: 0;
    
    
}

body{
    background-color: #F2F2F2;
}


/*Header*/
li{
    list-style: none;
}
a{ 
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}
a:hover { 
    color: #0A73E5;
}

header {
    background-color: white ;
     position: relative;
     padding: 0 2rem;
     padding-top: 1rem; /* padding en la parte superior */
     padding-bottom: 1rem; /* padding en la parte inferior */
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    color: #0A73E5;
}
.action_btn:hover {
    color: #054c97;
}

.dropdown_menu {    
    display: none;
    position: absolute;
    border-radius: 15px;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 200px;
}

.dropdown_menu li { 
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


/* Main */
.container {
    
}
.form {
    height: 656px;
    background: url(../assets/images/front-bg-small.f14153.jpg) 0/cover;
    display: grid;
    place-content: center;
    grid-template-columns: 350px 100px;
}
.form__input {
    height: 50px;
}
.form__submit {
    background-color: #0A73E5;
    border: none; /* Eliminar borde */
    outline: none; /* Eliminar contorno */
    box-shadow: none; /* Eliminar sombra */
}

@media(max-width: 992px){
    .form {
        grid-template-columns: 200px 100px;
    }
}
/* Info Player */
.infoTable {
    background-color: white;
    padding: 40px;
}
.filaInfo {
    margin-top: 10px;
    background-color: #F2F2F2;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Personal Brawlers */
.details{
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.brawlersContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,270px);
    grid-gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}
.brawlContainer{
   background-color: #94D7F4;
   border: #000000 1px solid;
}

.brawlContainer img {
    height: 112px;
}
.boxBrawl{
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.infoBrawl{
    height: 48px;
    color: white;
    background-color: #000000;
    display: grid;
    grid-template-columns: 35% 19% 23% 23.7%;

}
.infoBrawl div{
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.skillsBrawl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
    padding: 7px;
}
.skillsBrawl div img {
    height: 28px;
}
.skillsBrawl div {
    margin-top: 5px;
    display: grid;
    justify-items: right;
}
.nameBrawl {
 font-weight: 600;
}

/* Footer */

.logoFooter {
    height: 80px;
    width: 100px;
    background: url("../assets/images/bs-logo.png") 0/cover;
}


footer {
    height: 150px;
    background-color: #000000;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

footer div { 
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1100px 100px;
    
}